<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h2>注册</h2>
  <!-- 表单默认提交方式时同步的，浏览器会锁死 -->
  <!-- 服务端的重定向对异步请求无效 -->
  <!-- <form id="register_form" action="/register" method="post"> -->
  <form id="register_form">
    <div for="">
      邮箱:<input type="text" name="email">
    </div>
    <div for="">
      昵称:<input type="text" name="nickname">
    </div>
    <div for="">
      密码:<input type="password" name="password">
    </div>
    <div>
      <button type="submit">注册</button>
    </div>
  </form>

  <script src="/public/lib/jquery-3.5.1.js"></script>
  <script>
    // jquery中暂时无法使用箭头语法
    $('#register_form').on('submit', function (e) {
      e.preventDefault()
      const formData = $(this).serialize()
      $.ajax({
        url: '/register',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          console.log(data)
          const err_code = data.err_code
          if (err_code === 0) {
            // window.alert('注册成功！')
            window.location.href = '/'
          } else if (err_code === 1) {
            window.alert('邮箱已存在！')
          } else if (err_code === 2) {
            window.alert('昵称已存在！')
          } else if (err_code === 500) {
            window.alert('服务器正忙，请稍后重试！')
          }
        }
      })
    })
  </script>
</body>

</html>
